.jumbotron {
	padding-top: 1px;
	padding-bottom: 0px;
	margin-top:-40px;
	background-color: #b8ff00;
	border-radius: 0px;
}

body{
        background-color:#fff;
}
.but{

	background-color: #000;
	color: #fff;
}

@media (min-width: 360px) {
  .navbar {
    border-radius: 0px;
    padding-top: 0px;
    margin-top:-75px;
    padding-top: 4px;
    background-color: #111;

  }
  
 .navbar-inverse   .navbar-collapse .navbar-nav  > li > a {
  padding-top: 80px;
  color: #fff;
  padding-bottom: 5px;
  line-height: 18px;
  
 
}

 .navbar-nav .navbar-fixed-bottom > li > a {
  padding-top:0px;
  color: #fff;
  padding-bottom: 0px;
  margin-bottom: 30px;
  line-height: 18px;
  
 
}
  #first{

      font-family: Myriad Pro,sans-serif,Helvetica;
      font-weight: normal;
      font-size: 20px;
      color: #ff;
  }


}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 30px;
}
  
#lower_right {
  bottom: 8%;
  right: 0%;
  position: absolute;
}

#tag {
  bottom: 7%;
  right: 5%;
  position: absolute;
  font-size: 17px;
  font-family: Myriad Pro;
  font-weight: lighter;
}




@media (min-width: 360px){
 
 .btn-default{
  color: #fff;
  background-color:#000;
  border-color:#000;
  font-size: 20px;
  font-weight: normal;
  right:45%;
  bottom: 27%;
  border-radius: 4px;
  position: absolute;
}

}


#clean{
color:#000;
font-family: Myriad pro,Calibri, Helvetica,sans-serif;
 font-size: 45px;
 position: absolute;
 right:34%;
 bottom:52%;
font-weight: normal;
}
#green{
color:#111;
font-family: Myriad pro,Calibri, Helvetica,sans-serif;
font-size: 30px;
 position: absolute;.
font-size: 45px;
right:43%;
bottom:48%;
font-weight: lighter;
}

.btn-default:focus,.btn-default.focus {
  color: #999;
  background-color: #000;
}

.btn-default:active, .btn-default.active{
  color: #999;
  background-color: #000;
}

.btn-default:hover {
  color: #999;
  background-color: #000;
}

.jumbotron  h1{
  font-size: 48px;
   font-family: Myriad Pro,Calibri , sans-serif; 
   font-weight: lighter;
}

.jumbotron  h3{
  font-size: 25px;
   font-family: Myriad Pro,Calibri , sans-serif; 
   font-weight: lighter;
}

 

.navbar-inverse    .navbar-nav > li > a:hover,
.navbar-inverse    .navbar-nav > li > a:focus, {
  color: #999;
  
}
 .navbar-collapse .navbar-nav > li > a:focus , 
 .navbar-collapse .navbar-nav > li > a:hover{
 
	color:#999;
	
 }

.navbar-collapse .navbar-nav > li > a , 
 .navbar-collapse .navbar-nav > li > a{
 
	color:#fff;
	
 }
 
 .navbar-header {
background-color:#000;
}
