.container #title{
	
	margin-top: -1.5%;
	font-size: 30px;
	color:#333;
	font-family:Myriad Pro, Arial, Helvetica;
}

.container  hr{

	border-color: #e3e3e3;
	margin-top: -1.7%;
}

.akshay{
	border: 1px solid #fff;
	border-radius: 3px;
	background-color: #fff;
    	width:150.5px;
	height: 280.5px;
	padding-top: 0px;
	padding-bottom: 60px;
	margin-left:  9%;
	margin-top: 20px;
	display: inline-block;	
 }

.akshay > img{
	position: relative; 
	border-radius: 6px;
	width: 150.5px;
	height: 280.5px;
}
	